.character-card {
  border: 1px solid black;
  float: left;
  padding: 5px;
  margin: 10px;
}


.character-card.player {
  background-color: lightblue;
}

.character-card.ally {
  background-color: lightgreen;
}

.character-card.enemy {
  background-color: pink;
}

.character-card.dead {
  background-color: lightgrey;
}