.character-card {
  border: 1px solid black;
  float: left;
  padding: 5px;
  margin: 10px;
}

.character-card.player {
  background-color: lightblue;
}

.character-card.ally {
  background-color: lightgreen;
}

.character-card.enemy {
  background-color: pink;
}

.character-card.dead {
  background-color: lightgrey;
}

.map {
  margin-left: 40%;
}

.map-row {
  float: none;
  margin: 0px;
}

.map-square {
  width: 30px;
  height: 30px;
  border: 1px black solid;
  float: left;
  opacity: 50%;
}

.map-square > * {
  align-content: center;
}

.map-square.plains {
  background-color: lightgreen;
}

.map-square.forest {
  background-color: green;
}

.map-square.water {
  background-color: lightblue;
}

.map-square.occupied {
  background-color: black;
}

.map-square.plains:not(.focused):not(.occupied):hover {
  background-color: green;
}

.map-square.forest:not(.focused):not(.occupied):hover {
  background-color: darkgreen;
}

.map-square.water:not(.focused):not(.occupied):hover {
  background-color: blue;
}

.map-square.focused {
  background-color: purple;
}

.map-square.in-range {
  background-color: pink;
}

.map-square.attackable {
  background-color: red;
}
